{% extends 'base.html' %}
{% block title%}Forex Converter{% endblock %}
{% block content%}
<form action="/convert/new" method="POST">
    <div class="container p-s5 mb-5">
        <h1 class="text-center mb-3">Forex Converter</h1>
        <section class="messages mb-3">
            {% for category, msg in get_flashed_messages(with_categories=true)%}
            <h5 class="lead text-center mt-5">{{currentDT.strftime('%Y-%m-%d %H:%M:%S')}}</h5>
            <h4 class="{{category}} text-center info"> {{ msg }} </h4>
            {% endfor %}
        </section>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="from-code">From</label>
                <select id="from-code" class="custom-select" name="from-code" required>
                    <option selected disabled value>Choose...</option>
                    {% for code in codes %}
                    <option>{{ code }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid currency code.
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="to">To</label>
                <select id="to" class="custom-select" name="to" required>
                    <option selected disabled value>Choose...</option>
                    {% for code in codes %}
                    <option>{{ code }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a valid currency code.
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
                <div class="invalid-feedback">
                    Please type valid amount.
                </div>
            </div>
        </div>
        <input type="submit" value="Convert" class="btn btn-info btn-block btn-lg">
    </div>
</form>
{% endblock %}
